// Place all the styles related to the landings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landings.y{
	background-color: red;
}

.landings.discounts{
	background-color: yellow;

}

.landings.z{
	background-color: green;

}

.landings.x{
	background-color: blue;

}
